/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300&display=swap');

body {
    font-family: 'Inknut Antiqua', serif;
    background-color: rgb(231, 231, 231);
}

.navbar {
    width: 90%;
    margin: auto;
    display: flex; 
    justify-content: space-around; 
    align-items: center;
    text-align: center;
    p {
        width: 25%;
        font-size: 1.2rem;
    }
}

h1 {
    font-size: 1.8rem;
}

.homeImg {
    margin-top: 6px;
    vertical-align: middle;
    width: 100%;
}

.homeRows {
    -ms-flex: 24%; 
    flex: 24%; 
    max-width: 24%; 
    padding: 0 3px;
}

.homePage {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: 0 3px;
    justify-content: center;
}



//BEFORE AFTER
.beforeAfter {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    img-comparison-slider {
        margin: 10px;
        width: 30%;
        img {
            width: 100%;
            height: fit-content;
        }
    }
}

.slider-example-opacity-and-size {
    --default-handle-width: 100px;
}

.slider-example-opacity-and-size:focus {
    --default-handle-opacity: 0;
}
//BEFORE AFTER

.sectionTitle {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: auto;
    hr {
        width: 30%;
        margin: auto;
        height:2px;border-width:0;color:gray;background-color:gray
    }
}

.hide {
    display: none;
}

.fab {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* border: 2px;
    border-color: black;
    border-style: solid; */
    background-color: rgba(240, 248, 255, 0.185);
    padding: 7px;
    display: inline-block;
}



/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .homePage {
        width: 100%;
    }
    .homeRows {
        -ms-flex: 49%;
        flex: 49%;
        max-width: 49%;
    }
    .navbar {
        width: 100%;
        p {
            font-size: 1rem;
        }
    }
    h1 {
        font-size: 1.4rem;
    }
    .beforeAfter {
        width: 100%;
        img-comparison-slider {
            width: 90%;
        }
    }
    .sectionTitle {
        hr {
            width: 25%;
        }
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 640px) {
    .homePage {
        width: 100%;
    }
    .homeRows {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
    .navbar {
        width: 100%;
        p {
            font-size: 0.7rem;
        }
    }
    h1 {
        font-size: 1rem;
    }
    .beforeAfter {
        width: 100%;
        img-comparison-slider {
            width: 90%;
        }
    }
    .sectionTitle {
        hr {
            width: 25%;
        }
    }
}